<div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Forms</h1>
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Forms</a></li>
          <li role="presentation"><a href="form-fields.html">Fields</li>
        </ul>
<table class="table table-striped" border="2">
  <thead>
    <tr>  
      <th><span class="glyphicon glyphicon-sort"></span> Name</th>
      <th><span class="glyphicon glyphicon-sort"></span> Action</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="form in forms">
      <td>{{form.name}}</td>
      <td>
        <button ng-click="deleteForm($index)" class="btn btn-danger">Delete
        </button>
        <button ng-click="selectForm($index)" class="btn btn-success">Select
        </button>
        <a href="#/formUpdate/{{$index}}" class="btn btn-primary">Update</a>
        <a href="#/formAdd/{{$index}}" class="btn btn-success">Add</a>
      </td>
  </tr>
  </tbody>
</table>